# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environment
venv/
env/
.venv/

# ---- VSCode ----
.vscode/
*.code-workspace


# ---- Spark / Hadoop ----
spark-warehouse/
derby.log
metastore_db/

# ---- Logs ----
*.log
logs/

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- Environment / secrets ----
.env
*.key
*.token
*.json

# ---- Jupyter ----
.ipynb_checkpoints/



# ---- Build / Packaging ----
dist/
build/
